<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://312leads.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>312leads.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>312Leads</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$312Leads</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:r0fo0aqe6q.database.windows.net,1433;Initial Catalog=LeadsA6ov17oyyvK;User ID=admin312Leads@r0fo0aqe6q;Password=MonkeybarsHackathon!" Name="Data Source=tcp:r0fo0aqe6q.database.windows.net,1433;Initial Catalog=LeadsA6ov17oyyvK;User Id=admin312Leads@r0fo0aqe6q;Password=MonkeybarsHackathon!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-LeadsWithAuth-20150312084437.mdf;Initial Catalog=aspnet-LeadsWithAuth-20150312084437;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-LeadsWithAuth-20150312084437.mdf;Initial Catalog=aspnet-LeadsWithAuth-20150312084437;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LeadsWithAuthContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:r0fo0aqe6q.database.windows.net,1433;Initial Catalog=LeadsA6ov17oyyvK;User ID=admin312Leads@r0fo0aqe6q;Password=MonkeybarsHackathon!" Name="Data Source=tcp:r0fo0aqe6q.database.windows.net,1433;Initial Catalog=LeadsA6ov17oyyvK;User Id=admin312Leads@r0fo0aqe6q;Password=MonkeybarsHackathon!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LeadsWithAuth.Models.LeadsWithAuthContext, LeadsWithAuth" MigrationConfiguration="LeadsWithAuth.Migrations.Configuration, LeadsWithAuth" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:r0fo0aqe6q.database.windows.net,1433;Initial Catalog=LeadsA6ov17oyyvK;User Id=admin312Leads@r0fo0aqe6q;Password=MonkeybarsHackathon!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LeadsWithAuthContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:r0fo0aqe6q.database.windows.net,1433;Initial Catalog=LeadsA6ov17oyyvK;User Id=admin312Leads@r0fo0aqe6q;Password=MonkeybarsHackathon!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>